<link rel='stylesheet' href='./src/css/controls.css' />

<div
    x-data
    class='ui screen controls'
    :class="{ 'show': $store.state.uiMode === 'DOM' && $store.state.selectedPages.Controls }"
    id='controls-dom'
>
    <div class='block'>
        <div class='data'>
            <div class='title'>Управление</div>
            <img
                class='schema'
                src='/assets/img/controls-desktop.png'
                alt='Controls'
            />
            <div class='buttons'>
                <button
                    class='btn button'
                    onclick="domUi.emit('back-to-start')"
                >НАЗАД</button>
            </div>
        </div>
        <div class='backdrop'></div>
    </div>
</div>