<div class='ui screen game' id='game-dom'>
    <div>Speed: <span id='speed'>0</span> km/h</div>
    <div>Gear: <span id='gear'>1</span></div>
    <div>RPM: <span id='rpm'>800</span></div>
    <div class='rpm-bar'>
        <div class='rpm-fill' style='width: 11%'></div>
    </div>
</div>