<link rel='stylesheet' href='./src/css/game.css' />
<link rel='stylesheet' href='./src/css/countdown.css' />

<div x-data class='ui game' id='game-dom'>
    <div class='tachometer'>
        <img src='/assets/img/tachometer.png' alt='' />
        <img :style="`transform: rotate(${($store.state.rpm / 1000) * 45}deg)`"  id='arrow-dom' class='arrow' src='/assets/img/arrow.png' alt='' />
        <div class='speed'>
            <div x-text="$store.state.speed">10</div><div class='kmh'>kmh</div>
        </div>
        <div class='gear'>
            <div x-text="$store.state.gear" id='gear-number-dom'>1</div>
        </div>
        <div class='backdrop'></div>
    </div>
    <div class='info'>
        <div class='timer'>
            <div x-text="$store.state.formattedTime" id='timer-number-dom'>01:00:00</div>
        </div>
        <div class='laps'>
            <div>КРУГОВ ПРОЙДЕНО:</div>
            <div x-text="$store.state.laps" id='laps-number-dom'>0</div>
        </div>
        <div class='backdrop'></div>
    </div>
    <div class='nitro'>
        <div class="nitro-data">
            <div class='nos-title'>NOS</div>
            <div class='nos-items'>
                <template x-for="nos in 9">
                    <div :class="{ 'nos-item': true, 'active': nos <= $store.state.nitro }">{{> nos}}</div>
                </template>
            </div>
        </div>
        <div class='backdrop'></div>
    </div>
</div>

<div class='ui countdown' id='countdown-dom'>
    <div class='traffic-light'>
        <div id='countdown-number-dom' class='circle red active'>3</div>
        <div id='countdown-go-dom' class='circle green'></div>
        <div class='backdrop'></div>
    </div>
</div>