<link rel='stylesheet' href='./src/css/how-to-play.css' />

<div
    x-data
    class='ui screen how-to-play'
    :class="{ 'show': $store.state.uiMode === 'DOM' && $store.state.selectedPages.HowToPlay }"
    id='how-to-play-dom'
>
    <div class='block'>
        <div class='data'>
            <div class='title'>Как играть?</div>
            <div class='text'>
                1. Игра состоит из двух частей - гонка и ответы на вопросы. 
                2. В гонке вам дается 30 секунд чтобы пройти максимальное количество кругов. 
                3. Вы можете набирать скорость, переключать передачи (см. управление). Рулить не нужно - все автоматически. 
                4. У вас есть нитро (NOS) чтобы ускориться. 
                5. На этапе вопросов - вам нужно правильно ответить на них. 
                6. За каждый правильный ответ вы получаете очко нитро. 
                7. После 3циклов - игра окончена - победит тот, кто проедет больше кругов!
            </div>
            <div class='buttons'>
                <button
                    class='btn button'
                    onclick="domUi.emit('back-to-start')"
                >НАЗАД</button>
            </div>
        </div>
        <div class='backdrop'></div>
    </div>
</div>