<link rel='stylesheet' href='./src/css/loading.css' />

<div class='ui screen loading' id='loading-dom'>
    <div class='block'>
        <div class="logo"></div>
        <div class="text">Загрузка...</div>
    </div>
</div>