<link rel='stylesheet' href='./src/css/quiz.css' />

<div
    x-data
    class='ui screen quiz'
    :class="{ 'show': $store.state.uiMode === 'DOM' && $store.state.selectedPages.Quiz }"
    id='quiz-dom'
>
    <div class='block'>
        <div class='question-number'>
            Вопрос номер
            <span
                x-text='$store.state.questionNumber'
                id='question-number-dom'
            >0</span>:
        </div>
        <div
            x-text='$store.state.currentQuestion.question'
            id='question-text-dom'
            class='question'
        >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            modi minima at placeat, soluta a, illum corporis delectus saepe
            ipsam similique odio facilis quam assumenda libero animi
            perspiciatis numquam deleniti?
        </div>
        <div class='buttons'>
            <button
                id='answer-1-dom'
                x-text='$store.state.currentQuestion.answers[0]'
                class='btn'
                onclick="domUi.emit('answer', { answer: 1 })"
                :class="{'success': $store.state.quiz.success === 1, fail: $store.state.quiz.fail === 1 }"
            >Ответ 1</button>
            <button
                id='answer-2-dom'
                x-text='$store.state.currentQuestion.answers[1]'
                class='btn'
                onclick="domUi.emit('answer', { answer: 2 })"
                :class="{'success': $store.state.quiz.success === 2, fail: $store.state.quiz.fail === 2 }"
            >Ответ 2</button>
            <button
                id='answer-3-dom'
                x-text='$store.state.currentQuestion.answers[2]'
                class='btn'
                onclick="domUi.emit('answer', { answer: 3 })"
                :class="{'success': $store.state.quiz.success === 3, fail: $store.state.quiz.fail === 3 }"
            >Ответ 3</button>
            <button
                id='answer-4-dom'
                x-text='$store.state.currentQuestion.answers[3]'
                class='btn'
                onclick="domUi.emit('answer', { answer: 4 })"
                :class="{'success': $store.state.quiz.success === 4, fail: $store.state.quiz.fail === 4 }"
            >Ответ 4</button>
        </div>
        <div class='backdrop'></div>
    </div>
</div>