<link rel='stylesheet' href='./src/css/quiz.css' />

<div class='ui screen quiz' id='quiz-dom'>
    <div class='block'>
        <div class='question'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            modi minima at placeat, soluta a, illum corporis delectus saepe
            ipsam similique odio facilis quam assumenda libero animi
            perspiciatis numquam deleniti?
        </div>
        <div class='buttons'>
            <button class='btn'>Ответ 1</button>
            <button class='btn'>Ответ 2</button>
            <button class='btn'>Ответ 3</button>
            <button class='btn'>Ответ 4</button>
        </div>
        <div class='backdrop'></div>
    </div>
</div>