<link rel='stylesheet' href='./src/css/scores.css' />

<div x-data class='ui screen scores' id='scores-dom'>
    <div class='block'>
        <div class='data'>
            <div class='text'>
                <div class='scores-title'>ВЫ ПРОЕХАЛИ</div>
                <div x-text="$store.state.laps" id='scores-laps-number-dom' class='scores-number'>2</div>
                <div class='scores-subtitle'>КРУГА (ОВ)</div>
            </div>
            <form class='form'>
                <div class='name-label'>Введите свое имя</div>
                <input
                    id='name-input-dom'
                    placeholder='Введите свое имя'
                    type='text'
                    class='inpt input'
                />
                <div id='name-error-dom' class='name-error'></div>
                <button id="save-score-button-dom" class='btn button'>ОТПРАВИТЬ</button>
            </form>
        </div>
        <div class='backdrop'></div>
    </div>
</div>