<link rel='stylesheet' href='./src/css/scores.css' />

<div class='ui screen scores' id='scores-dom'>
    <div class='block'>
        <div class='scores-title'>Вы проехали</div>
        <div id="scores-laps-number-dom" class='scores-title'>20</div>
        <div class='scores-title'>кругов</div>
        <div class='backdrop'></div>
    </div>
</div>