body {
    margin: 0;
    font-family: 'Roboto';
}

.a-enter-vr.fullscreen {
    display: none;
}

.a-loader-title {
    display: none !important;
}

.ui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    position: relative;
    max-width: 560px;
    padding: 50px;
}

.data {
    position: relative;
    z-index: 11;
}

.backdrop {
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 9;
}

.btn {
    padding: 10px 10px;
    text-transform: uppercase;
    border: none;
    background-color: #995cff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: #6737b8;
    }
}

.inpt {
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    font-size: 20px;

    &::placeholder {
        color: #c2bebe;
    }

    &:focus {
        outline: none;
    }
}




